---
import Layout from "../layouts/Layout.astro";
import Table from "../components/Table.astro";
const res = await fetch("http://127.0.0.1:5000");
const data = await res.json();
---

<Layout title="Welcome to Astro.">
  <main>
    <table>
      <tr>
        <th>ID</th>
        <th>Plataforma</th>
        <th>Usuario</th>
        <th>Clave</th>
      </tr>

      {
        data.map((item) => {
          return <Table baul={item} />;
        })
      }
    </table>
  </main>
</Layout>
